* { box-sizing: border-box; }
body {
    padding: 8px;
    /* line-height: 30px; */
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    background: #59098f;
    color: #ffffff;
    text-align: center;
}
h1, h2, h3, h4, a, ul, ol, li, p, figure {
    /* font-size: 14px;
    font-weight: normal; */
    margin: 0;
    padding: 0;
}
p {
    font-size: 18px;
}
#color {
    height: 50px;
    width: 50px;
    padding: 0;
    outline: 0;
    border: 0;
}
a { 
    color:white; 
}

#portal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-rows: repeat(auto-fit, 70px); */
    grid-gap: 10px;
}
#portal a {
    border: 1px solid white;
    padding: 2em;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#portal a:hover {
    background:white;
    color: #59098f;
}
@media (max-width: 700px) {
    #portal {
        grid-template-columns: 1fr;
    }
}