@font-face {
    font-family: manrope-regular;
    src: url(Manrope-Regular.woff);
}

@font-face {
    font-family: manrope-bold;
    src: url(Manrope-Bold.woff);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
small,
p {
    font-family: manrope-regular;
    font-size: 20px;
    line-height: 1.4em;
    color: #000;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0.06px;
    cursor: pointer;
}

h1,
h2 {
    font-family: manrope-bold;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
}

small {
    font-size: 16px;
}


/* --------------------------------------
 * LINK STYLE
 *------------------------------------------*/

a {
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.15s ease 0s;
    -moz-transition: all 0.15s ease 0s;
    -o-transition: all 0.15s ease 0s;
    transition: all 0.15s ease 0s;
}

a,
a:active,
a:focus,
a:active {
    text-decoration: none;
    outline: none
}

a:hover {
    text-decoration: none;
    color: rgb(15, 179, 88);
}

p {
    margin-bottom: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* --------------------
 * Column Block
 * -------------------*/

.columns-block {
    flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.blocks {
    box-sizing: border-box;
}

.left-col-block {
    width: 30%;
    text-align: left;
    overflow: hidden;
    position: fixed;
    left: 0;
    border-right-style: solid;
}

.right-col-block {
    width: 70%;
    position: absolute;
    right: 0;
}

@media (max-width: 600px) {
    .left-col-block {
        width: 100%;
        position: relative;
        border-right-style: none;
        height: auto;
    }
    .right-col-block {
        width: 100%;
        position: relative;
        box-shadow: none;
        border-bottom-style: none;
    }
}


/* --------------------
 * Section Background
 * -------------------*/

.bg-0 {
    background-color: #ffffff;
    border-bottom-style: solid;
}

.bg-1 {
    background-color: #ffffff;
    border-bottom-style: solid;
}

.bg-2 {
    background-color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
}

.bg-4 {
    background-color: #ffffff;
}


/* --------------------
 *  main Wrapper
 * -------------------*/

#main-wrapper {
    background: #ffffff;
    overflow: hidden;
}


/*-------------------
 * Section Wrapper
 *-------------------*/

.section-wrapper {
    padding: 50px 50px 30px 50px;
}

@media (max-width: 480px) {
    .section-wrapper {
        padding: 30px 20px;
    }
}


/*-----------------------------
 * NAVIGATION & HEADER STYLE
 *-------------------------------*/

.header {
    padding: 50px;
    margin: 50px;
    height: 100vh;
    vertical-align: middle;
    position: relative;
}

.header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}


/*-------------------
 * Content Item
 *-------------------*/

.content-item {
    margin-bottom: 20px;
}