body {
    background-color: black;
}
img{
    position: fixed;
    height:50%;
    width: 50%;
}
img.one {
    top:0;
    left:0;
}
img.two {
    top: 0;
    right: 0;
}
img.three {
    bottom: 0;
    left: 0;
}
img.four {
    bottom: 0;
    right: 0;
}