body, h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    color: white;

    position: fixed;
    width: 100%;
    top: 0px;
    text-align: left;

    cursor: none;
}
h1 span {
    transition: color 15s;
}
h1 span:hover{
    transition: color 0s;
}
h1 span:nth-child(1n):hover{
    color: palegreen;
}
h1 span:nth-child(2n):hover{
    color: plum;
}
h1 span:nth-child(3n):hover{
    color: paleturquoise;
}
h1 span:nth-child(4n):hover{
    color: yellow;
}
h1 span:nth-child(5n):hover{
    color:lightsalmon;
}
p {
    font-family: Arial, Helvetica, sans-serif;

    position: fixed;
    bottom: 0px;
    right: 14px;
    color: plum;
    cursor: none;
}