html, body{
    height: 100%;
    z-index: 1;
    overflow: hidden;
}
img {
    height:100%; 
    width:auto;
}
/* new */
body {
    background-color: white;
    color: #FFF;
  }
  
  .container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
  
  #slideshow {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
  
  #slideshow img {
    position: absolute;
    display: none;
    left: 70%;
    height: 90%;
  }
  
  #slideshow img:first-child {
    display: block;
  }
  