* {
    box-sizing: border-box;
  }
  
  html {
    min-height: 100vh;
  
  }
  
  body{
    margin:0;
    background: #b4bac7;
    overflow: hidden;
    font-size: 1rem;
    min-height: 100%;
  }
  
  p{
    margin:0;
  }
  
  .shutter {
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background: linear-gradient(to bottom, rgba(99,99,99,1) 0%, #b4bac7 45%, #b4bac7 55%, #80a7ff 100%);
    background-repeat: repeat;
    animation: down 250s infinite linear;
    background-size:100% 5%;
  }
  
  .sky {
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    background: #80a7ff;
  }
  
  .sign {
    position: fixed;
    font-family: 'Andale Mono', monospace;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background:#80a7ff;
    /* border-radius: 12px; */
    padding:1.3rem 1.5rem;
    font-size: 1rem;
    box-shadow: 0px 0px 33px -3px rgba(0,0,0,0.19);
  }
  
  .sign.sunday {
    background: white;
    border-radius: 50%;
    padding: 3em 6em;
    box-shadow: 0px 0px 33px 29px rgba(255,255,255,0.33);
  }
  
  .sign.sunday a {
    color: black;
  }
  
  .sign.sunday a:hover {
    background: yellow;
  }
  