@charset "utf-8";

/* CSS Document */

* {
    box-sizing: border-box;
}


/* Add a gray background color with some padding */

body {
    font-family: sans-serif;
    padding: 20px;
    background-color: white;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    align-items: center;
    padding-bottom: 20px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

p {
    font-family: sans-serif;
    font-size: 17px;
    padding-bottom: 0px;
}

label {
    font-family: sans-serif;
    font-size: 17px;
}

.subtitle {
    font-size: 15px;
    font-style: italic;
}


/* unvisited link */

a:link {
    color: #000000;
    font-size: 17px;
    text-align: left;
    text-decoration: none;
}


/* visited link */

a:visited {
    color: #000000;
    font-size: 17px;
    text-align: left;
    text-decoration: none;
}


/* mouse over link */

a:hover {
    color: #000f97;
    font-size: 17px;
    text-align: left;
    text-decoration: underline;
}


/* Header/Blog Title */

.header {
    padding: 30px;
    font-size: 20px;
    text-align: left;
    margin-left: 60px;
    width: 39.5%;
}

.title {
    padding-left: 0px;
    padding-bottom: 0px;
    font-size: 20px;
    margin-left: 35px;
}

#blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    list-style: none;
}


/* iframe graph and twitter feed
*/

.graph {
    width: 95%;
    overflow: hidden;
    align-self: center;
    border: none;
}

iframe {
    border: none;
    width: 900px;
    height: 420px;
    margin-left: -120px;
    margin-top: -50px;
    overflow: hidden;
}

#timeline-widget-0 {
    margin: auto;
    width: 100%;
}

.twitter-tweet {
    margin: auto;
}


/* blocks */

.row {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    text-align: left;
}

.block {
    border: black dotted;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 20px;
    align-items: center;
}

.block_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}


/* Create columns that floats next to each other */


/* Left column */

.leftcolumn {
    float: left;
    width: 50%;
}


/* Middle column */

.middlecolumn {
    margin: auto;
    float: left;
    width: 50%;
    padding: 10px;
    align-content: center;
    align-items: center;
}


/* Add a card effect for articles */

.card {
    border: black dotted;
    border-width: 1px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    padding: 30px;
    text-align: left;
    font-size: 15px;
    margin-top: 20px;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other*/

@media(max-width: 1060px) {
    .leftcolumn,
    .middlecolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .block_image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media only screen and (max-device-width: 566px) {
    .leftcolumn,
    .middlecolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .homeColumn {
        padding-right: 20px;
        padding-left: 20px;
    }
    .middlecolumn {
        float: left;
        padding-left: 0px;
        padding-top: 60px;
    }
}


/* img */

img {
    padding: 30px;
    width: 100%;
    text-decoration: none;
    align-content: center;
}