/*******************
WORK LIST
********************/
.work-container{
    min-height: 150px;
    display: flex;
    padding: 0px;
    text-decoration: none;
}

ul{
    padding: 0px;
}
.work-thumbnail{
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
}

.work-img{
    max-width: 90%;
    max-height: 90%;
    margin: auto;
}

.work-info{
    position: relative;
    min-height: 150px;
    max-height: 300px;
}
.work-title{
    font-weight: bold;
}
.work-title:hover{
    text-decoration: underline;
}
.work-tags{
    position: absolute;
    /* bottom: 0px; */
    font-style: italic;
}
/*******************
NAV BAR
********************/
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}

.nav-link {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100px;
    padding: 10px;
    
    text-decoration: none;
    border-radius: 100px;
}


.nav-link:hover {
    text-decoration: underline;
}

/*******************
INDIVIDUAL PROJECT PAGES
********************/
.project-container{
    width: 600px;
    margin-left: 30px;
    margin-right: 30px;
}
.project-title{
    font-weight: bold;
    padding-bottom: 20px;
}
.project-img{
    width: 600px;
}

/*******************
HOME PAGE / GENERAL
********************/
.socials-container{
    width: 600px;
    height: 400px;
}
.socials-graph{
    width: 600px;
    height: 440px;
    overflow: hidden;
    border: none;
    position: relative;
    left: -80px;
    top: -40px;
}

a {
    color: black;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height:150%;
    margin:0
}
        
#images{
    background-color:black;
    box-sizing:border-box;
}
#moreimages {
    padding:50px;
}

span{
    display: table;
    margin: auto;
}

#images img{

    width:100%;
    margin-bottom:50px;
}

#photo{
    background-image:url('images/mecyber.jpg');
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    width:100%;
    height:100vh;
}
#text {
    padding:40px;
    box-sizing:border-box;
}

#container {
    position:relative; align-items:stretch;
    height:100%;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

#container > div {
    width: 50%;
}

@media (max-width: 1000px) {	
    #moreimages {
        display:none;
    }	
    #container {
        display:block;
    }
    #container > div {
        width: 100%;
    }
    #photo{
        width:100%;
        height:600px;
    }
    #text {
        width:100%;
    }
}

@media (max-width: 600px) {
    #images, #photo{
        height:400px;
    }		
}