html {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: whitesmoke;
    padding-left: 10vw;
    padding-right: 10vw;
}

h1,
h2,
h3 {
    text-align: center;
}

#urlBox {
    width: 800px;
}