body {
    background-image: url(pattern4.bmp);

    perspective: 1500px;
    height: 100vh;
    overflow: hidden;

}
section{
    position: absolute;
    top: 50%;
    left: 50%;

    transform-style: preserve-3d;
    backface-visibility: hidden;
}

div.face {
    position: absolute;
    background-size: cover;
  }
  
  div.face-cover {
    height: 400px;
    width: 260px;
    background-image: url(cover.gif);
    transform: translateX(-50%) translateY(-50%) translateZ(20px);
  }
  
  div.face-side {
    height: 400px;
    width: 40px;
    background-image: url(side.jpg);
    transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(130px);
  }
  
  div.face-spine {
    height: 400px;
    width: 40px;
    background-image: url(side.jpg);
    transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
  }
  
  div.face-top {
    height: 40px;
    width: 260px;
    background-image: url(side.jpg);
    transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
  }
  
  div.face-bottom {
    height: 40px;
    width: 260px;
    background-image: url(side.jpg);
    transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
  }
  
  div.face-back {
    height: 400px;
    width: 260px;
    background-image: url(back.jpg);
    transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px) ;
  }
  